.hero{
    width: 100%;
    height: 100vh;

}
.hero .container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.hero .container .left{
    width: 60%;




}
.hero .container .left img{

    width: 100%;




}
.hero .container .left img.image{

}
.hero .container .left img.svg{
    z-index: 1;
    margin: 30px;


}

.hero .container .right{
    width: 40%;
    height: 100vh;

}

header{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    background: linear-gradient(159deg,#C62368,#AF256F,#7D2C71,#4B2D66,#20264E,#051A30,#001220,#051A30,#20264E,#4B2D66,#7D2C71,#AF256F,#C62368);

}
header div.gnd{
    width: 25%;
    display: flex;
}
header div.gnd img{
    height: 24px;
    width: 24px;
}
nav {
    display: flex;
    justify-content: center;

    width: 50%;
    min-width: 450px;
    z-index:1000;

}
nav a {
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
    color: #696f74  ;
}


header div.social{
    width: 25%;
    text-align: right;

}

